{% extends "weatherapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Pogodynka{% endblock %}

{% block content %}
      {% if not user.is_authenticated %}
        <form method="POST" > {% csrf_token %}
        <input type="text" placeholder="Wprowadź miasto", name="city"/>
        <p>Aby ustawić swoje ulubione miasto, zaloguj się <a href="/login">tutaj</a></p>
          <p>Nie masz konta? Zarejestruj się <a href="/register">tutaj</a></p>

      {% else %}
          <p>Wyloguj się <a href="/logout">tutaj</a></p>

      {% endif %}


    </form>
    {% if city %}
      <h1>{{ city }} </h1>
      <h1>{{ today }}</h1>
      <h1>{{ current_description }}</h1>
      <h1>{{ current_temp }}</h1>
      <img src="http://openweathermap.org/img/w/{{current_icon}}.png" width="150px">
    <h1>Prognoza na kolejne 48 godzin:</h1>
    <h1>{{ hourly_forecast }}</h1>
    <h1>Prognoza na kolejne 5 dni:</h1>
    <h1>{{ daily_forecast }}</h1>


    {% endif %}

{% endblock %}